

.menu {
  height: 100%;

  position: fixed;
  max-width: 100%;
  width: 500px;
  background-color: rgb(255, 255, 255);
  z-index: 10000;
  top: 0px;
  left: 0px;
}
.menu_head img {
  width: 230px;
}

.close-btn {
  color: black;
  font-size: 30px;
  margin-top: 18px;
  margin-right: 18px;
}

.Red {
  color: red;
  font-size: 20px;
  font-weight: 600;
}

.menu_head {
  /* justify-content: space-between; */
  border-bottom: 1px solid rgb(161, 161, 161);
  box-shadow: 2px 2px 2px rgb(158, 157, 157);
  padding-bottom: 15px;
}
.menu-items h5 {
  border-bottom: 1px solid rgb(197, 191, 191);
  padding: 10px 0px 20px 40px;
  font-weight: 350;
  font-size: 18px;
}
.menu-items h5:hover {
  font-weight: 600;
}
.menu-items {
  padding-top: 10px;
}
.forward_icon {
  margin-left: 50px;
}
